<!DOCTYPE html>
<html>
<head>
    <title>Blog Website</title>
</head>

<body>

<header>
    <nav>
        <h1>
            <a href="#">MyBlog</a>
        </h1>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<section>
    <h2>Welcome to My Blog</h2>
    <p>
        Sharing knowledge about programming, Django, backend architecture,
        and real-world development experience.
    </p>

    <a href="#">Read Articles</a>
</section>

<main>

    <!-- Latest Posts -->
    <section>
        <h2>Latest Posts</h2>

        <article>
            <header>
                <h3>
                    <a href="#">
                        lknfkasnbdfibasidbfi fasdkf d fasdfas d
                    </a>
                </h3>

                <p>
                    <time datetime="">
                        
                    </time>
                    • {{ post.author }}
                </p>
            </header>

            <p>
                knfoabdsiouvbfask foaisbdv asdv v asdfva sdva sdvc adsc asdc asdc adscas d fcads fasdf ds
            </p>

            <a href="#">Read more →</a>
        </article>
        <article>
            <header>
                <h3>
                    <a href="#">
                        lknfkasnbdfibasidbfi fasdkf d fasdfas d
                    </a>
                </h3>

                <p>
                    <time datetime="">
                        
                    </time>
                    • {{ post.author }}
                </p>
            </header>

            <p>
                knfoabdsiouvbfask foaisbdv asdv v asdfva sdva sdvc adsc asdc asdc adscas d fcads fasdf ds
            </p>

            <a href="#">Read more →</a>
        </article>
        <hr>
    </section>

    <!-- Sidebar -->
    <aside>

        <!-- About -->
        <section>
            <h3>About Me</h3>
            <p>
                Backend developer specializing in Python and Django.
                I write about clean architecture, APIs, and real projects.
            </p>
        </section>

        <!-- Categories -->
        <section>
            <h3>Categories</h3>
            <ul>
                <li>
                    <a href="#">
                        faosdnfoiasbdifbs
                    </a>
                </li>
                <li>
                    <a href="#">
                        faosdnfoiasbdifbs
                    </a>
                </li>
            </ul>
        </section>

    </aside>

</main>

<footer>
    <p>
        © 2026 MyBlog.
        Built with Django & passion.
    </p>
</footer>

</body>
</html>
